<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <title>Async example</title>
</head>
<body>
  <button id="asyncButton" onclick="startSynchronization()">Start Sync</button>

  <script>

    function startSynchronization () {
      const button = document.getElementById("asyncButton");

      // Update UI
      button.innerText = "Async in progress...";
      button.disabled = true; // optionally disable

      // Start the sync task
      fetch("/run-async-task", {
        method: "POST"
      })
      .then(response => response.json())
      .then(({ task_id }) => {
        checkTaskStatus(task_id);
      })
      .catch(error => {
        console.error("Error starting async:", error);
        button.innerText = "Start async";
        button.disabled = false;
      });
    }

    function checkTaskStatus(taskId) {
      fetch("/result/" + taskId)
        .then(response => response.json())
        .then(data => {
          console.log(data);
          const button = document.getElementById("asyncButton");

          if (data.state === "SUCCESS") {
            button.innerText = "Async Complete";
            button.disabled = false;

            if (data.result.includes("Task ignored")) {
              alert("Une Tache est déjà en cours d'exécution");
            } else {
              alert("Async completed : " + data.result);
            }
          } else if (data.state === "FAILURE") {
            button.innerText = "Start async";
            button.disabled = false;
            alert("Async failed!");
          } 
          else {
            // Task still running — check again later
            setTimeout(() => checkTaskStatus(taskId), 2000);
          }
        })
        .catch(error => {
          console.error("Error checking status:", error);
          const button = document.getElementById("asyncButton");
          button.innerText = "Start async";
          button.disabled = false;
        });
    }
  </script>
</body>
</html>
